
html, body {
    min-height: 100vh;
}

body {
    margin: 0;
    font-family: 'Didact Gothic', sans-serif;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100%;
    background-color: rgba(0,0,0,0.2);
    padding: 0px;
    margin-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 999999;
    backdrop-filter: blur(5px); /* New property, not available in all browsers yet */
}

    .navigation .nav-left {
        
    }

        .navigation .nav-left .logo {
            height: 50px;
            width: auto;
            margin: 10px 0px 10px 20px;
        }

    .navigation h1 {
        color: white;
    }

    .navigation .nav-right a {
        text-decoration: none;
        color: white;
        margin: 40px 20px;
        padding: 5px;
        font-family: 'Didact Gothic', sans-serif;
    }

        .navigation .nav-right a:hover {
            font-weight: bold;
            padding: 4px;
            border: 1px solid white;
            /* border: 1px solid #08acec;*/
            border-radius: 5px;
        }

.verse-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin-top: 10%;
}

.verse-form {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    max-height: 200px;
}

.verse-form .verse-form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.verse-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-grow: 1;
}

.verse-form-panel{
    max-height: 300px;
}

.get-verses-btn {
    width: 100%;
    margin: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.verse-panel {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    border: 1px solid #08acec;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(2px); /* New property, not available in all browsers yet */
}

.verse-text {
    margin: 10px;
    max-width: 300px;
}

.favorites-verse-text {
    margin: 5px;
    min-width: 100%;
}

.favorites-header {
    text-align: center;
}

.favorites-wrapper{
    min-width: 100%;
    display: flex;
    justify-content: flex-start;

}

.favorites-panel {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid white;
    padding: 10px;
    margin: 20px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.3);
}

    .favorites-panel .favorites-left {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

        .favorites-panel .favorites-left .favorites-panel-text {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

.favorites-box {
    width: 100%;
/*    display: flex;
    flex-direction: column;*/
}


img {
    max-height: 450px;
    width: 100%;
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


button {
    width: 100px;
    margin: 10px;
    padding: 5px;
    color: white;
    border: 1px solid #08acec;
    background-color: #08acec;
    border-color: #08acec;
    border-radius: 5px;
    box-shadow: none;
}

@media screen and (max-width: 475px) {
    .navigation {
        flex-direction: column;
        justify-content: space-around;
        height: 130px;
       
    }

    .navigation .nav-left {
    }

        .navigation .nav-left .logo {
         
        }

        .navigation h1 {
            display: none;
            order: 3;
        }

    .navigation .nav-right a {
       
    }

        .navigation .nav-right a:hover {
         
        }
}
