@{
    ViewData["Title"] = "My Favorites";
    Layout = "_Layout";
}
 <h2 class="favorites-header">@ViewData["Title"].</h2>

<div class="favorites-wrapper">
    <div class="favorites-box">
        @foreach (var favorite in ViewBag.favorites)
        {
            <div class="favorites-panel">
                <form asp-controller="Favorites" action="/unfavorite" method="post">
                    <span>
                        <span>@favorite.Verse.Book</span><span>@favorite.Verse.VerseText</span>
                        <input type="hidden" name="verseId" value=@favorite.Verse.Id />
                        @*<button type="submit">Remove</button>*@
                    </span>

                </form>
            </div>

        }
    </div>
</div>