@{
    ViewData["Title"] = "My Favorites";
}

<head>
    <style type="text/css">
        body {
            background: url('../../Assets/mountains.jpeg') no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>



<body>
    <h2>@ViewData["Title"].</h2>

    <a href="/verses">Select Verses</a>
    <div>
        @foreach (var favorite in ViewBag.favorites)
        {
            <div class="verse-panel">
                <form asp-controller="Favorites" action="/unfavorite" method="post">
                    <span>
                        <span>@favorite.Verse.Book</span><span>@favorite.Verse.VerseText</span>
                        <input type="hidden" name="verseId" value=@favorite.Verse.Id />
                        @*<button type="submit">Remove</button>*@
                    </span>
                   
                </form>
            </div>
            
        }
    </div>

</body>