@{
    ViewData["Title"] = "My Favorites";
}

<h2>@ViewData["Title"].</h2>

<a href="/verses">Select Verses</a>
<div>
    @foreach (var favoriteVerse in ViewBag.favoriteVerses)
    {
        <form asp-controller="Verses" action="/favorite" method="post">
            <span>
                <span>@favoriteVerse.Book</span><span>@favoriteVerse.VerseText</span>
                <input type="hidden" name="id" value=@favoriteVerse.Id />
                <button type="submit">Remove</button>
            </span>
        </form>
    }
</div>