@{
    ViewData["Title"] = "Verses";
    Layout = "_Layout";
}


<div class="verse-form">
    <div class="panel">

        <h2>@ViewData["Title"]</h2>

        <form asp-controller="Verses" asp-action="SendVerse" method="post">
            <input type="text" name="StartDate" />
            <input type="number" name="PageSize" />

            <input type="submit" value="Submit" />
        </form>

    </div>
</div>

