@{
    ViewData["Title"] = "Verses";
    Layout = "_Layout";
}


<div class="verse-wrapper">
    <div class="verse-panel verse-form-panel">

        <h2>@ViewData["Title"]</h2>

        <form class="verse-form "asp-controller="Verses" asp-action="SendVerse" method="post">
            <div class="verse-form-inputs">
                <input placeholder="Start Date" type="text" name="StartDate" />
                <input placeholder="Number of Verses" type="number" name="PageSize" />
            </div>

            <button class="get-verses-btn" type="submit" value="Get Verses">Get Verses</button>
        </form>

    </div>
</div>

